@import url(../../../lib/styling/generalWrapper.module.css);

.wrapper {
    form > *:not(:first-child) {
        margin-top: 2rem;
    }

    .checkboxContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        label {
            align-self: flex-end;
        }  
    }

    a {
        color: var(--green);
        &:hover {
            text-decoration: underline;
        }
    }
}