@import url(../../../lib/styling/generalWrapper.module.css);

.homeWrapper {
    padding: 1rem 0;

    &>* {
        margin-bottom: 2rem;
    }

    h1,
    h2 {
        padding: 0 0.5rem;

        i {
            font-style: normal;
            color: var(--green);
        }
    }
}

.carouselBody {
    img {
        object-fit: cover;
        height: 9rem;
    }

    button {
        width: 30%;
        height: 100%;
        align-self: center;
    }

    &:hover {
        button {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}

.videosContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    section {
        padding: 0 0.5rem;

        iframe {
            aspect-ratio: 16 / 9;
            width: 100%;
        }
    }
}
.featuredProdcutsContainerWrapper {
    display: flex;
    justify-content: center;
}
.featuredProdcutsContainer {
    padding: 0 0.5rem;
    width: 100%;
}

.browseProdcutsButtonContainer {
    display: flex;
    justify-content: center;
    a {
        font-size: 2rem;
    }
}

.servicesContainer {
    background: url(../../../assets/servicesContainerBackground.png) center center fixed;
}

.contactUsContainer {
    background: url(../../../assets/callUs.png) center right fixed;
}

.contentContainer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;

    svg {
        color: var(--green);
        margin-right: 0.5rem;
    }

    a {
        font-size: 1.4rem;
    }
}

@media (min-width: 600px) {
    .featuredProdcutsContainer>* {
        width: calc(100% / 3);
    }
}

@media (min-width: 1025px) {
    .carouselBody {
        img {
            object-fit: contain;
            height: auto;
        }
    
        button {
            width: 10%;
        }
    }
    .videosContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
        padding: 0 2rem;
        section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            min-height: fit-content;
        }
    }
    .featuredProdcutsContainer>* {
        width: 25%;
    }
    .browseProdcutsButtonContainer {
        a {
            font-size: 1rem;
        }
    }
    .contentContainer { 
        a {
            font-size: 1rem;
        }
    }
}