.filters {
    width: 100% !important;
    h5, label, input, select, button {
        font-size: inherit;
    }
    select option {
        text-transform: capitalize;
    }

    .checkboxContainer {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        label {
            align-self: flex-end;
        }  
    }
}

@media (min-width: 1025px) {
    .filters {
        font-size: 0.8rem;
        width: var(--bs-offcanvas-width) !important;
        select option {
            font-size: 1rem;
        }
        span {
            font-size: 0.8rem;
        }
        .availableInStockWrapper {
            margin: 0.4rem 0;
            input {
                margin-right: 0.2rem;
            }
        }   
    }
}