.mainContainer {
    /* outline: 1px solid red; */

}


@media (min-width: 600px) {

}

@media (min-width: 1025px) {
    .mainContainer {
        border: 1px solid rgba(39, 174, 96, 0.6);
        border-radius: 6px;
        padding: 0.5rem 1rem;
    }
}