@import url(../../../lib/styling/generalWrapper.module.css);

.chosenFilesList {
    color: var(--green);
}

.inputContainer {
    margin-bottom: 2rem;
}

.inputContainer, .mandatoryFielsExplanation {
    i {
        color: red;
        font-style: normal;
    }
}