@import url(../../../lib/styling/generalWrapper.module.css);

.contentContainer {
    h2 {
        font-weight: 300;
    }

    &>* {
        margin-bottom: 2rem;
    }
}

.carouselContainer {
    height: 50dvh;
    width: 100%;
    overflow: hidden;
}

.imagesCarousel {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;

    .innerContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }

    .carouselitem {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: inherit;
        object-fit: contain;
    }

    button {
        align-self: center;
        height: 100%;
    }
}

.purchasing {
    &>* {
        margin-bottom: 1rem;
    }

    .price {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .raiting {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        svg {
            color: #ffc107;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    .availability {
        font-size: inherit;

        &.inStock {
            color: var(--green);
        }

        &.notAvailable {
            color: red;
        }
    }

    .addToCartContainer {
        display: flex;
        align-items: center;
    }
    label {
        width: 50%;
        input {
            background-color: white;
            color: black;
            width: 50%;
            border-radius: 6px;
            border: 1px solid black;
            z-index: 100;
        }
    }
}

.smallInfos {
    a {
        text-transform: uppercase;
        text-decoration: underline;

        &:hover {
            color: var(--green);
        }
    }
}

.specsDoc {
    p,
    a {
        margin: 0;
    }

    a {
        color: rgb(120, 212, 243);
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }
}

.descriptionAndComments {

    .customDescriptonContainer {
        display: grid;
        padding-top: 1rem;
        &::after {
            grid-area: 1 / 1 / 2 / 2;
            content: attr(data-description-value) ' ';
            white-space: pre-wrap;
            visibility: hidden;
          }

        .description {
            grid-area: 1 / 1 / 2 / 2;
            pointer-events: none;
            resize: none;
        }
    }

    .commentsContainer {
        margin-top: 1rem;

        .loginRegToReview {
            a {
                text-decoration: underline;
                color: var(--green);
                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .ratingButtons {
            display: flex;
            justify-content: space-between;
            direction: rtl;

            label:hover,
            label:hover~label,
            input:checked~label {
                color: #ffc107;
            }
        }

        form textarea {
            width: 100%;
            height: 20rem;
            padding: 0 0.5rem;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 6px;
        }

        .userReviewsContainer {
            .singleReview {
                margin-top: 2rem;
            }

            .reviewUsername,
            .reviewComment {
                margin: 0;
            }
            
            .reviewUsername {
                font-size: 1.2rem;
                color: white;
                word-wrap: break-word;
            }

            .reviewRatingAndDateContainer {
                display: flex;
                justify-content: space-between;
            }

            .reviewRating {
                margin: 0;

                svg {
                    color: #ffc107;
                }
            }

            .reviewPurchaseVerified {
                color: var(--green);
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 0;
            }

            .reviewComment {
                margin-top: 1rem;
            }

            .customCommentContainer {
                display: grid;
                padding-top: 1rem;
                &::after {
                    grid-area: 1 / 1 / 2 / 2;
                    content: attr(data-description-value) ' ';
                    white-space: pre-wrap;
                    visibility: hidden;
                  }
        
                .comment {
                    grid-area: 1 / 1 / 2 / 2;
                    pointer-events: none;
                    resize: none;
                    
                }
            }

            hr {
                margin: 0;
            }

            .reviewsPagination {
                margin-top: 2rem;
                justify-content: center;
                a {
                    cursor: pointer;
                }
                span {
                    padding: 0 1rem;
                }
            }
        }

        .noReviewsStatement {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            margin-top: 3rem;
            padding: 2rem;

            p {
                text-align: center;
            }
        }
    }
}

.heart {
    color: red;
    z-index: 10;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    border: 1px solid red;
    font-size: 1.6em;

    &:hover {
        border: 1px solid yellow;
        color: yellow;
    }
}

@media (min-width: 600px) {
    .carouselContainer {
        height: 48rem;
        width: 100%;
        overflow: hidden;
    }
}

@media (min-width: 1025px) {
    .middleWrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .carouselContainer {
        height: 85dvh;
        width: 50%;
        overflow: hidden;
    }

    .carouselContainer,
    .purchasing,
    .smallInfos {
        display: inline-block;
    }

    .purchasing {  
        .price {
            line-height: 1;
            margin-top: 0;
        }

        label {
            input {
                text-align: center;
                width: 40%;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
        }
        .addToCartContainer {
            display: block;   
        }
        label {
            width: 100%;
            margin-bottom: 1rem;
            input {
                width: 30%;
            }
        }
        .addToCartButton {
            font-size: 1rem;
            display: block;
        }
    }

    .descriptionAndComments {
        .commentsContainer {

            .ratingButtons {
                justify-content: flex-end;
                gap: 1rem;
            }
    
            form textarea {
                height: 10rem;
            }
    
            .userReviewsContainer {
    
                .reviewUsername {
                    font-size: 1.4rem;
                }
    
                .reviewDate {
                    margin: 0;
                }
    
                .reviewPurchaseVerified {
                    gap: 0.6rem;
                    margin: 0;
                }
    
                .reviewComment {
                    margin-top: 0.4rem;
                }
    
                .reviewsPagination {
                    margin-top: 2rem;
                    justify-content: center;
    
                    span {
                        padding: 0 0.4rem;
                    }
                }
            }
    
            .noReviewsStatement {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                margin-top: 3rem;
                padding: 2rem;
    
                p {
                    text-align: center;
                }
            }
        }
    }

    .productNotFound {
        .triangleContainer {
            justify-content: flex-start;
        }
    }

    .heart {
        font-size: 1em;
    }
}