@import url(../../../lib/styling/generalWrapper.module.css);

.contentContainer {
    font-size: 2rem;

    h2 {
        font-weight: 300;
    }

    &>* {
        margin-bottom: 2rem;
    }
}

.carouselContainer {
    height: 20rem;
    width: 100%;
    overflow: hidden;
}

.imagesCarousel {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;

    .innerContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    img {
        width: 100%;
        height: auto;
    }

    button {
        align-self: center;
        height: 100%;
    }
}

.purchasing {
    &>* {
        margin-bottom: 1rem;
    }

    .price {
        font-size: 3rem;
    }

    .raiting {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        svg {
            color: #ffc107;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    .availability {
        font-size: inherit;

        &.inStock {
            color: var(--green);
        }

        &.notAvailable {
            color: red;
        }
    }

    label {
        input {
            background-color: white;
            color: black;
            width: 20%;
            border-radius: 6px;
            border: 1px solid black;
            z-index: 100;
        }
    }

    .addToCartButton {
        font-size: 2rem;

    }
}

.smallInfos {
    .category {
        p {
            font-size: inherit;
            text-transform: uppercase;
        }
    }
    
    .idOfProduct,
    .manufacturer {
        p {
            font-size: inherit;
        }
    }
}

.specsDoc {

    p,
    a {
        font-size: inherit;
        margin: 0;
    }

    a {
        color: rgb(120, 212, 243);
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }
}

.descriptionAndComments {
    font-size: inherit;

    .content {
        font-size: inherit;
    }

    .description {
        font-size: inherit;
        margin-top: 1rem;
    }

    .commentsContainer {
        margin-top: 1rem;

        .loginRegToReview {
            font-size: 2rem;
            a {
                text-decoration: underline;
                color: var(--green);
                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .ratingButtons {
            display: flex;
            justify-content: space-between;
            direction: rtl;

            &>* {
                font-size: inherit;
            }

            label:hover,
            label:hover~label,
            input:checked~label {
                color: #ffc107;
            }
        }

        textarea {
            width: 100%;
            height: 20rem;
            padding: 0 0.5rem;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 6px;
        }

        .userReviewsContainer {
            .singleReview {
                margin-top: 2rem;
            }

            .reviewUsername,
            .reviewComment {
                font-size: 2rem;
                margin: 0;
            }

            .reviewUsername {
                color: white;
                word-wrap: break-word;
            }

            .reviewRatingAndDateContainer {
                display: flex;
                justify-content: space-between;
            }

            .reviewRating {
                font-size: 1.6rem;
                margin: 0;

                svg {
                    color: #ffc107;
                }
            }

            .reviewDate {
                font-size: 1.6rem;
            }

            .reviewPurchaseVerified {
                font-size: 1.6rem;
                color: var(--green);
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 0;
            }

            .reviewComment {
                margin-top: 1rem;
            }

            hr {
                margin: 0;
            }

            .reviewsPagination {
                margin-top: 2rem;
                justify-content: center;

                li,
                span {
                    font-size: 3rem;
                }

                span {
                    padding: 0 1rem;
                }
            }
        }

        .noReviewsStatement {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            margin-top: 3rem;
            padding: 2rem;

            p {
                font-size: 2rem;
                text-align: center;
            }

            svg {
                font-size: 5rem;
            }
        }
    }
}

.productNotFound {
    margin-top: 2rem;
    .triangleContainer {
        color: #ffc107;
        font-size: 4rem;
        display: flex;
        justify-content: center;
    }
    p {
        font-size: 2rem;
    }
    a {
        font-size: 2rem;
        svg {
            color: var(--green);
            margin-right: 1rem;
        }     
        &:hover {
            color: var(--green);
        }
    }
}

@media (min-width: 600px) {
    .carouselContainer {
        height: 40rem;
        width: 100%;
        overflow: hidden;
    }
}

@media (min-width: 1025px) {
    .middleWrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .carouselContainer {
        height: 30rem;
        width: 50%;
        overflow: hidden;
    }

    .carouselContainer,
    .purchasing,
    .smallInfos {
        display: inline-block;
        font-size: 1rem;
    }

    .specsDoc,
    .descriptionAndComments {
        font-size: 1rem;
    }

    .purchasing {  
        .price {
            font-size: 2rem;
            line-height: 1;
        }
    
        .raiting {
            font-size: 1rem;
        }

        label {
            input {
                text-align: center;
                width: 40%;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
        }
    
        .addToCartButton {
            font-size: 1rem;
            display: block;
        }
    }

    .smallInfos {
        font-size: 1rem;
        h3 {
            font-size: 1.4rem;
        }
    }

    .descriptionAndComments {
        font-size: 1rem;

        .commentsContainer {
            .loginRegToReview {
                font-size: 1rem;
            }
            .ratingButtons {
                justify-content: flex-end;
                gap: 1rem;
            }
    
            textarea {
                height: 10rem;
            }
    
            .userReviewsContainer {
                .reviewUsername,
                .reviewComment {
                    font-size: 1rem;
                }
    
                .reviewUsername {
                    font-size: 1.4rem;
                }
    
                .reviewRating {
                    font-size: 1rem;
                }
    
                .reviewDate {
                    font-size: 1rem;
                    margin: 0;
                }
    
                .reviewPurchaseVerified {
                    font-size: 1rem;
                    gap: 0.6rem;
                    margin: 0;
                }
    
                .reviewComment {
                    margin-top: 0.4rem;
                }
    
                .reviewsPagination {
                    margin-top: 2rem;
                    justify-content: center;
    
                    li,
                    span {
                        font-size: 1rem;
                    }
    
                    span {
                        padding: 0 0.4rem;
                    }
                }
            }
    
            .noReviewsStatement {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                margin-top: 3rem;
                padding: 2rem;
    
                p {
                    font-size: 2rem;
                    text-align: center;
                }
    
                svg {
                    font-size: 5rem;
                }
            }
        }
    }

    .productNotFound {
        .triangleContainer {
            font-size: 3rem;
            justify-content: flex-start;
        }
        p {
            font-size: 1.4rem;
        }
        a {
            font-size: 1.4rem;
        }
    }
}