.mainContainer {
    padding: 0.5rem;
    & > *:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.itemsSection {
    & > *:not(:last-child) {
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
}

.infoSection {
    i {
        font-style: normal;
        font-weight: 300;
    }
    p {
        margin: 0;
        margin-bottom: 0.5rem;

    }
    .yellow {
      color: rgb(211, 201, 12);  
    }
    .green {
      color: var(--green);  
    }
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.shipmentManagementSection {
    i {
        font-style: normal;
        color: red;
    }

    input[name="shipping_status"] {
        display: node;
        pointer-events: none;
    }
}

@media (min-width: 600px) {

}

@media (min-width: 1025px) {
    .mainContainer {
        border: 1px solid rgba(39, 174, 96, 0.6);
        border-radius: 6px;
        padding: 0.5rem 1rem;
    }
}