@import url(../../../lib/styling/generalWrapper.module.css);

.labelWithLogo {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    font-size: 2rem;
    line-height: 2;
    img {
        width: 10rem;
        height: auto;
    }
}

.paymentMethods {
    input {
        display: none;
        pointer-events: none;
    }

    label {
        font-size: 3rem;

        &:first-of-type {
            margin-right: 3rem;
        }
    }
}

.inputContainer, .mandatoryFielsExplanation {
    i {
        color: red;
        font-style: normal;
    }
}

@media (min-width: 992px) {
    .labelWithLogo {
        font-size: 1.1rem;
        line-height: 1.4;
        img {
            width: 6rem;
            height: auto;
        }
    }

    .paymentMethods {   
        label {
            font-size: 1rem;
            &:first-of-type {
                margin-right: 1rem;
            }
        }
    }
}