@import url(../../../lib/styling/generalWrapper.module.css);

.wrapper {
    form > *:not(:first-child) {
        margin-top: 2rem;
    }

    .checkboxContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        label {
            align-self: flex-end;
        }  
    }
    
    a {
        color: var(--green);
        &:hover {
            text-decoration: underline;
        }
    }
}

.labelWithLogo {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    img {
        width: 6rem;
        height: auto;
    }
}

.paymentMethods {
    input {
        display: none;
        pointer-events: none;
    }

    label {
        font-size: 3rem;

        &:first-of-type {
            margin-right: 3rem;
        }
    }
}

.inputContainer, .mandatoryFielsExplanation {
    i {
        color: red;
        font-style: normal;
    }
}

@media (min-width: 992px) {
    .checkboxContainer.employeeCheckboxContainer {
        align-items: normal; 
    }
    
    .labelWithLogo {
        font-size: 1.1rem;
        line-height: 1.4;
        img {
            width: 6rem;
            height: auto;
        }
    }

    .paymentMethods {   
        label {
            font-size: 1rem;
            &:first-of-type {
                margin-right: 1rem;
            }
        }
    }
}