.inStock,
.notAvailable,
.price {
    svg {
        margin-right: 0.5rem;
    }
}

.inStock {
    color: var(--green);
}

.notAvailable {
    color: red;
}

.card {
    position: relative;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.heart {
    position: absolute;
    color: red;
    top: 0%;
    right: 0%;
    z-index: 10;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    font-size: 1.6em;

    &:active {
        border: none;
        background: none;
    }

    &:hover {
        font-size: 1.5em;
        color: red;
    }
}

@keyframes fade-in {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

@media (min-width: 600px) {
    .overlay {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (min-width: 1025px) {
    .card {
        &:hover .overlay {
            display: flex;
            animation: fade-in 0.5s;
        }
    }

    .overlay {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.6);

        button, a {
            box-shadow: 4px 4px 8px black;
        }
    }

    .heart {
        font-size: 1em;
    }
}