.wrapper {
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linkToHome {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    & .arrow {
        color: var(--green);
    }

    &:hover {
        color: var(--green);
    }
}

.loginAndRegLink {
    color: var(--green);
}

@media (min-width: 992px) {
    .wrapper {
        padding: 5rem 0;
        display: block;
    }
}