footer {
    background-color: var(--bs-tertiary-bg);    
    padding-top: 2rem;

    ul {
        padding: 0;
    }

    h5 {
        display: flex;
        gap: 0.2rem;
    }

    .logo-svg {
        width: 5.5em;
        height: auto;
        padding-bottom: 0.3rem;
    }

    .useful-links {
        .link {
            color: var(--green);

            &:hover {
                opacity: 0.5;
            }
        }

    }

    .social-links {
        li {
            padding: 0.6rem 0;
            max-width: fit-content;

            &:hover {
                color: var(--green);
            }
        }

        .icon {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }
    }

    .dev-info {
        background-color: black;
        text-align: center;
        padding: 1rem 0;

        p {
            margin: 0;
        }

        .my-social-link {
            color: var(--green);
        }
    }
}

@media (min-width: 992px) {
    footer {
        .container {
            display: flex;
            gap: 5rem;
            justify-content: space-evenly;

            .logo-svg {
                width: 10rem;
                height: auto;
            }

            .sizingWrapper {
                width: calc(100% / 3);
                display: flex;
                justify-content: center;
            }

            .useful-links {
                font-size: 1.2rem;
            }

            .social-links {
                li {
                    font-size: 1.2rem;
                    padding: 0.5rem 0;
                    max-width: fit-content;

                    &:hover {
                        color: var(--green);
                    }
                }

            }
        }

        .dev-info {
            padding: 0.5rem 0;
        }

    }
}